html{ 
  margin: auto;
  width: 800px;
  position: center;
}
header {
  background:aqua;
  height: 100px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#asideLeft {
  background: orange;
  height: 800px;
  flex-grow: 1;
}
main {
  background:red;
  height: 800px;
  flex-grow: 3;
  position: relative;
}
#box {
  width: 80px;
  height: 80px;
  background: black;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#asideRight {
  background: purple;
  height: 800px;
  flex-grow: 1;
}
footer {
  background:blue;
  height: 100px;
}